.sect {
  color: "black";
  padding: 40px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  gap: 160px;
  margin-bottom: 50px;
  background-image: url("./images/25100.jpg");
  border-radius: 30px;
}
.body {
  background-color: #d4e0ea;
  padding-bottom: 20px;
}

.text {
  width: 60%;
}
.text h2 {
  color: #0059a1;
  font-size: 35px;
}

.info {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  z-index: -11;
}
.info h4{
  color: black;
}
.info p {
  color: #a10038;
  font-size: 32px;
}
.slides {
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slides img {
  height: 450px;
  border-radius: 30px;
  z-index: -1;
}

@media (max-width: 975px) {
  .sect {
    flex-direction: column;
    padding: 20px;
  }
  .text {
    width: 100%;
    margin-bottom: -170px;
  }
  .sect {
    margin-bottom: 30px;
  }
  .slides {
    width: 100%;
  }
  .slides img {
    width: 100%;
  }
}
