
body{
    position: relative;
    margin: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
ul li {
    list-style: none;
    
}

ul a{
    text-decoration: none;
    color:aliceblue;
}

.Footer{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: rgb(124, 51, 24);
    color: aliceblue;
    border-radius: 5px;
    font-size:x-large;
    padding-top:10px ;
    /* margin-top: -100px; */

   
}

#middle a{
    text-decoration: none;
    /* padding-bottom: 50px; */
    color: aliceblue;
}

.Footer i{
    font-size: 40px;
   margin: 10px;
}

#right{
    text-align: center;
    text-decoration: none;
}

#right a{
    text-decoration: none;
    color: aliceblue;
}

@media (max-width: 575px) {
    /* Adjust the footer styles for small screens */
    .Footer {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 1000px;
        /* Add styles for small screens here */
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    #right{
        display: none;
    }
    #left{
        order: 1;
        color:  black;
    }
   
}